.header1 {
  /* background: url("../../assetss/HomePage.jpeg") center no-repeat; */
  background-size: cover;
  width: 100%;
  text-align: 100%;
  height: auto;
  overflow: hidden;
  padding: 25px 0px;
  margin: 10px -30px;
  justify-content: center;
}
.line1{
  text-align: center;
  color: #6c1529;
  margin-left: 100px;
}

.header1 p {
  color: #333;
  font-family: "Merriweather", serif;
  margin: 15px 0px;
  text-align: right;
}
.ul .li {
  text-align: right;
}
.text1 {
  width: 85%;
  /* border: 1px black solid; */
  margin-left: 10%;

}
/* .par{
    font-family: 'Merriweather', serif;

} */
.h2 {
  text-align: right;
  color: #6c1529;
  font-size: 50px;
  line-height: 60px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  margin-right: 70px;
}
.h4 {
  text-align: right;
  margin-top: 30px;
  margin-right: 75px;
}
.h42 {
  text-align: right;
  margin-top: 30px;
}
.buttons {
  display: flex;
  justify-content: center;
}
.h5 {
  text-align: right;
  margin-top: 30px;
}

/* .header1 button{
    width: 210px;
    height: 50px;
    background-color: #7c0f28;
    border: 1px solid #7c0f28;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    margin: 50  px 10px 20px 0px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
 */
.header1 button {
  width: 210px;
  height: 50px;
  background-color: #7c0f28;
  border: 1px solid #7c0f28;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  margin: 20px 10px 20px 0px;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
}
.header1 button:last-of-type {
  background-color: #fff;
  color: #ac2947;
}
.header1 button:hover {
  transition: 0.5s ease-in-out;
}
.header1 button:first-of-type:hover {
  background-color: #fff;
  color: #ac2947;
}
.header1 button:last-of-type:hover {
  background-color: #7c0f28;
  color: #fff;
}
